@import '../../assets/styles/variables.scss';

.books-read-container{
    box-sizing: border-box;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    gap:$gaps;

    .books-read-header{
        display: flex;
        align-items: center;
        gap:$gaps;

        img{
            width: 100px;
        }

        .books-read-header-title {
            font-size: 1.6em;
            color:$text-color-3;
            font-weight: bold;
        }
    }

    .books-read-container-body{
        height:350px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap:$gaps;
        margin-top:15px;
        

        .message-area{
            display: none;

            &.error{
                display: block;
                flex:1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

            img {
                width:32px;
                height:32px;
            }
        }

        .loading {
            display: none;
            &.active{
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 100px;
            }
        }
    }

    .books-rbg{
        margin-top:16px;
    }

    .not-found {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width:150px;
        }
    }
}