@import '../../../../../assets/styles/variables.scss';

.daily-progress-chart-container{
    display: flex;
    flex-direction: column;
    margin-top:20px;

    .daily-progress-chart-header{
        display: flex;
        justify-content: flex-end;

        select {
            height: 40px;
            border-radius: 10px;
        }
    }

    .daily-progress-chart-body {
        display: flex;
        justify-content: space-between;

        .prev{
            flex:0.3;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }

            img {
                height:60px;
            }
        }

        .daily-chart-content{
            flex:2;
            .max-page{
                position: relative;
                left: -2px;
                color:$text-color-3;
            }
        }

        .next {
            flex:0.3;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }

            img {
                height:60px;
            }
        }
    }

    .daily-progress-chart-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        color:$text-color-3;
        font-weight: 400;
        font-size: 1.2em;
    }
}