@import '../../../assets/styles/variables.scss';

.recommended_books_container {
    margin-left: $gaps;
    margin-right: $gaps;
    margin-top:20px;
    padding-left:10px;
    position:relative;

    .rbooks_header{
        display: flex;
        gap:10px;
        align-items: center;
        font-size:$title-font-size;
        color:$title-color;
        font-weight: bold;
        margin-bottom: $gaps;

        img {
            width: 100px;
        }
    }

    .loading-progress {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        left:calc(45%);
        display: none;
        
        &.active{
            display: block;
        }

        img {
            width:100px;
        }
    }

    .rbooks_body {
        height:150px;
        background-color: $background-color-1;
        border-radius: 10px;
        padding:10px;
        display: flex;
        align-items: center;
        // overflow: hidden;
        gap:10px;

        .message-area{
            margin:0 auto;
            gap:10px;
            display: flex;
            align-items: center;
            display: none;

            &.error{
                display: block;
            }

            img {
                width:32px;
                height:32px;
            }
        }
    }
}