@import '../../../assets/styles/variables.scss';

.recommended_books_container {
    position:relative;
    .rbooks_header{
        display: flex;
        gap:10px;
        align-items: center;
        font-size:$title-font-size;
        color:$title-color;
        font-weight: bold;
        margin-bottom: $gaps;

        img {
            width: 100px;
        }
    }

    .loading-progress {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        left:calc(45%);
        display: none;
        
        &.active{
            display: block;
        }

        img {
            width:100px;
        }
    }

    .rbooks_body {
        height:150px;
        background-color: $background-color-1;
        border-radius: 10px;
        padding:10px;
        display: flex;
        align-items: center;
        // overflow: hidden;

        gap:10px;

        .message-area{
            margin:0 auto;
            gap:10px;
            display: flex;
            align-items: center;
            display: none;

            &.error{
                display: block;
            }

            img {
                width:32px;
                height:32px;
            }
        }

        .error_info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex:1;

            span {
                font-weight: bold;
            }
        }

    }

    .genre-selection-container{
        flex:1;
        border:1px solid #ccc;
        width:50%;
        background-color: $background-color-1;
        position:absolute;
        left:25%;
        top:-50px;
        height:200px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .genre-selection-header{
            border-bottom:1px solid;
            height: 40px;
            background-color: $background-color-2;
            color:white;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 1.2em;
            justify-content: space-between;
            padding-left: $gaps;
            padding-right: $gaps;

            .close {
                &:hover{
                    cursor: pointer;
                    color:$text-color-3;
                }
            }
        }

        .genre-selection-body {
            padding: $gaps;

            select {
                height: 40px;
                width:100%;
            }
        }

        .genre-selection-actions {
            padding: 0px $gaps $gaps $gaps;
            display: flex;
            justify-content: center;
            position:relative;
            .genre-selection-action{
                img{
                    position: absolute;
                    top:-100px;
                    left:40%;
                    width:100px;
                }
            }
        }
    }
}