@import '../../assets/styles/variables.scss';

.bm-container{
    height: 82vh;
    overflow: auto;
    box-sizing: border-box;
    margin-top:20px;

    .bm-header{
        display: flex;
        align-items: center;
        gap:$gaps;

        img{
            width: 100px;
        }

        .bm-header-title {
            font-size: 30px;
            color:$text-color-3;
        }
    }

    .bm-container{
        display: flex;
        flex-direction: column;
        gap: $gaps;

        .message-area{
            display: none;

            &.error{
                display: block;
                flex:1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

            img {
                width:32px;
                height:32px;
            }
        }

        .loading {
            display: none;
            &.active{
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 100px;
            }
        }

        .not-results-found{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height:200px;

            img {
                width:100px;
            }
        }
    }
}