@import '../../../assets/styles/variables.scss';

.book-read-container {
    height:120px;
    background-color: #f8f7fd;
    border-radius: 10px;

    .book-info {
        
    }

    .book-actions {

    }
}