@import '../../../../assets/styles/variables.scss';

.recommended_book_container{
    height: 150px;
    display: flex;
    align-items: center;
    
    .cover-image{
        height:140px;
        img {
            height:130px;
        }
        &:hover{
            cursor: pointer;
            background-color: $background-color-2;
        }
    }

    .desc.hidden {
        
        
        left:0px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        background-color: rgba(255,255,255,0.5);

        .add {
            font-size:42px;
            color:$text-color-3;
        }
    }

    
    .desc {
        display: flex;
        flex-direction: column;
        .desc-body{
            width:500px;
            height:300px;
            display: block;
            display: flex;
            gap:$gaps;
            align-items: top;
            cursor: pointer;
            position: absolute;
            z-index:999;
            bottom:100px;
            left:150px;
            background-color: white;
            padding:10px;

            .cover_image_full {
                img {
                    width:200px;
                }
                
            }

            .book-desc{
                display: flex;
                flex-direction: column;
                p {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0px;
                }
                .label {
                    margin-right:$gaps;
                    color:$text-color-2;
                    font-weight: bold;
                }

                .actions{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: $gaps;
                }
            }

            .close {
                width:30px;
                height:30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size:1.5em;
                font-weight: bold;
            }
        }

        .read-now{
            margin-top:16px;
        }
    }       
    
}