@import '../../../assets/styles/variables.scss';

$main-menus-image-width: 40px;
ul {
    margin:0;
    padding:0;

    li {
        list-style: none;
    }
}

.main-menu{
    display:flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding-top:20px;
    height: $left-side-middle-height;
    ul {
        li {
            margin-bottom: $menu-gaps-bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height:$main-menus-image-width;
            }
        }
    }
}