$header-height:50px;
$footer-height:50px;
$main-body-height:84vh;
$background-color-1:#f6f5f5;
$background-color-2:#1a5678;
$background-color-3: #e9e7e7;
$background-color-4: #ff7088;
$background-color-5: #d0d1d6;
$burger-menu-height:40px;
$left-side-middle-height: 75vh;
$content-height: 84vh;
$left-side-bottom-height: 9vh;
$menu-gaps-bottom: 16px;
$gaps: 16px;
$text-color-1:#5e5c62;
$title-color: #ff7088;
$text-color-2: #1a5678;
$text-color-3: #ff7088;
$title-font-size: 1.6em;
$components-background-color: #f8f7fd;
$header-logo-width: 100px;
$main-menu-icon-width: 50px;
$input-height:45px;
$input-bg-color:#ecf0f1;
$button-bg-color:#1a5678;
$button-height:60px;

@mixin input {
    height: $input-height;
    background-color: $input-bg-color;
    border:none;
    font-size: 1.4em;
    &:focus {
        border:1px solid #ccc;
        outline: none;
    }
}

@mixin input-group {
    display: flex;
    flex-direction: column;
    gap:5px;
    .label{
        font-size:1.7em;
        color:$text-color-2;
    }
    input {
        @include input;
    }
}

@mixin button {
    margin-top:$gaps;
    background-color: $button-bg-color;
    height: $button-height;
    font-size: 1.5em;
    color:white;
    font-weight: 600;

    &:focus {
        outline: none;
        background-color: $background-color-4;
        border:1px solid $background-color-4;
    }
}

@mixin footer {
    background-color: $footer_bg_color;
    height: $footer_height;
    display: flex;
    align-items: center;
    justify-content: center;
}