$header-height:50px;
$footer-height:50px;
$main-body-height:84vh;
$background-color-1:#f6f5f5;
$background-color-2:#1a5678;
$background-color-3: #e9e7e7;
$background-color-4: #ff7088;
$background-color-5: #d0d1d6;
$burger-menu-height:40px;
$left-side-middle-height: 75vh;
$content-height: 84vh;
$left-side-bottom-height: 9vh;
$menu-gaps-bottom: 16px;
$gaps: 16px;
$text-color-1:#5e5c62;
$title-color: #ff7088;
$text-color-2: #1a5678;
$text-color-3: #ff7088;
$title-font-size: 1.6em;
$components-background-color: #f8f7fd;
$header-logo-width: 100px;
$main-menu-icon-width: 50px;